:root {
  --serif: 'Chonburi', cursive;
  --sans: 'Inter', sans-serif;
}

.body-container {
  min-height: calc(100vh - 200px);
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

