:root {
  --serif: 'Chonburi', cursive;
  --sans: 'Inter', sans-serif;
  --green: #C9CEBD;
  --red: #B85151;
  --light-gray: #e9e9e9;
  --dark-gray: #4A5759;
}

.body-container {
  min-height: calc(100vh - 200px);
}

.page-header {
  background-color: var(--light-gray);
  padding: 20px 18px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .page-header {
    padding: 20px 50px;
  }
}

