.profile-page {
  position: relative;
  background-color: #f3f3f3;
  min-height: 100vh;
}

.white-div {
  height: 15vh;
  min-height: 120px;
  background-color: white;
}

.profile-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-img-div {
  width: 220px;
  /* height: 300px; */
  margin: 0px auto;
  position: relative;
  transform: translateY(-120px);
  margin-bottom: -120px;
}

.profile-img-div img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.username-div {
  width: 220px;
  margin: 0px auto 40px;
}

.border-bottom {

  padding: 20px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.username-div .closet-username {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  width: 100%;
  padding-bottom: 8px;
}

.folls-div {
  display: flex;
  text-align: flex-start;
  padding: 10px;
  transform: rotate(-90deg);
  position: absolute;
  left: -85px;
  bottom: 50px;
  font-size: 10px;
}

.folls-div p {
  margin-right: 10px;
}

.followers-div {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.followers-div p {
  margin-right: 10px;
}

.btns-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.following-btn {
  background-color: rgb(197, 197, 197) !important;
}

.username-div button {
  width: 120px;
  border: none;
  width: auto;
  border-radius: 3px !important;
  background-color: white;
  color: black;
  display: inline;
  margin-right: 8px;
  font-size: 14px;
}

.username-div button:hover {
  background-color: rgb(249, 249, 249);
}

.unfollow {
  color: rgb(79, 79, 79);
}

.toggle-discover-carousel {
  display: none;
}

@media screen and (min-width: 500px) {
  .profile-img-div {
    width: 320px;
  }

  .username-div {
    width: 320px;
  }

  .folls-div {
    left: -85px;
    bottom: 50px;
  }
}

@media screen and (min-width: 767px) {
  .white-div {
    height: 140px;
  }

  .profile-img-div {
    width: 25%;
    height: auto;
    max-width: 800px;
    transform: translateY(-120px);
    object-fit: cover;
  }

  .username-div {
    width: 30%;
  }

  .username-div h2 {
    font-size: 45px;
  }

  .folls-div {
    left: -100px;
    bottom: 65px;
    font-size: 12px;
  }

  .folls-div p {
    margin-right: 15px;
    font-weight: 1;
  }
}

@media screen and (min-width: 930px) {
  .username-div button {
    max-height: 80px
  }
}
