.discover-header {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 100;
  padding: 0px 15vw 0px;
  color: #444444;
}

.carousel-div {
  height: 65vh;
}

#responsive-container {
  width: 70vw;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.carousel-container #card-container {
  height: 270px
}

@media screen and (min-width: 500px) {
  #responsive-container {
    width: 85vw;
  }

  .discover-header {
    padding: 0vw 7.5vw
  }

  .carousel-container #card-container {
    height: 360px;
    width: 280px;
  }
}
