.discover-header {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 100;
  /* text-align: center; */
  padding: 0vw 15vw;
  color: gray;
}

.carousel-div {
  position: relative;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.inner-carousel-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-30%);
}

#responsive-container {
  width: 70vw;
  margin: 50px auto;
  /* background: gray; */
  min-height: 200px;
  position: relative;
}

@media screen and (min-width: 500px) {
  #responsive-container {
    width: 85vw;
  }

  .discover-header {
    padding: 0vw 7.5vw
  }

  .carousel-container #card-container {
    height: 360px;
    width: 280px;
  }
}
