.carousel-container {
    width: 65vw;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden;
}

.carousel-container .track {
    display: inline-flex;
    transition: transform .5s;
}

.carousel-container .card-container {
    width: 200px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
    box-sizing: border-box;
}

.carousel-container .card-container .card {
    width: 100%;
    height: 100%;
    background: rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 2px;
    object-fit: cover;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    border: 1px solid #aaa;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav .prev {
    left: -30px;
}
.nav .next {
    right: -30px;
}