header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 18px 30px 3px;
  z-index: 1;
}

h1 {
  font-family: var(--serif);
  font-size: 25px;
  color: #444444;
  font-weight: 1;
  padding: 0px 15px;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 30px;
  }

  header {
    padding: 30px;
  }
}
