.closet {
    /* width: 85vw; */
    margin: 0px 8px;
}

.item-list-wrapper {
    position: relative;
}

.item-img {
    border-radius: 2px;
}

.item-img:hover {
    opacity: .9;
}

.item-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 13ch;
}

.heart-icon {
    color: rgb(0, 0, 0);
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
    visibility: hidden;
    z-index: 5;
}

.item-list-wrapper:hover .heart-icon {
    visibility: visible;
}

@media screen and (min-width: 375px) {
    .item-text {
        width: 19ch;
    }
}

@media screen and (min-width: 440px) {
    .closet {
        margin: 0px 16px;
    }

    .item-text {
        width: 22ch;
    }
}

@media screen and (min-width: 767px) {
    .closet {
        width: 85vw;
        margin: 0px auto;
    }

    .item-text {
        width: 23ch;
    }
}

@media screen and (min-width: 1000px) {
    .closet {
        width: 65vw;
    }
}