.closet {
    /* width: 85vw; */
    margin: 0px 8px;
}

.item-img {
    border-radius: 2px;
}

.item-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 13ch;
}

@media screen and (min-width: 375px) {
    .item-text {
        width: 19ch;
    }
}

@media screen and (min-width: 440px) {
    .closet {
        margin: 0px 16px;
    }

    .item-text {
        width: 22ch;
    }
}

@media screen and (min-width: 767px) {
    .closet {
        width: 85vw;
        margin: 0px auto;
    }

    .item-text {
        width: 23ch;
    }
}

@media screen and (min-width: 1000px) {
    .closet {
        width: 65vw;
    }
}